Test/requirements.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://localhost:3000/agenda"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://localhost:3000/agenda">

    <types>
        <xsd:schema targetNamespace="http://localhost:3000/agenda">
            <xsd:element name="AddContactRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="mainPhone" type="xsd:string"/>
                        <xsd:element name="cellPhone" type="xsd:string"/>
                        <xsd:element name="email" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="EditContactRequest" type="tns:AddContactRequest"/>
            <xsd:element name="DeleteContactRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SearchContactRequest" type="tns:DeleteContactRequest"/>
            <xsd:element name="SortContactsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="criteria" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="AddContactRequestMessage">
        <part name="parameters" element="tns:AddContactRequest"/>
    </message>
    <message name="EditContactRequestMessage">
        <part name="parameters" element="tns:EditContactRequest"/>
    </message>
    <message name="DeleteContactRequestMessage">
        <part name="parameters" element="tns:DeleteContactRequest"/>
    </message>
    <message name="SearchContactRequestMessage">
        <part name="parameters" element="tns:SearchContactRequest"/>
    </message>
    <message name="SortContactsRequestMessage">
        <part name="parameters" element="tns:SortContactsRequest"/>
    </message>

    <portType name="ContactPortType">
        <operation name="AddContact">
            <input message="tns:AddContactRequestMessage"/>
            <output message="tns:SuccessResponse"/>
        </operation>
        <operation name="EditContact">
            <input message="tns:EditContactRequestMessage"/>
            <output message="tns:SuccessResponse"/>
        </operation>
        <operation name="DeleteContact">
            <input message="tns:DeleteContactRequestMessage"/>
            <output message="tns:SuccessResponse"/>
        </operation>
        <operation name="SearchContact">
            <input message="tns:SearchContactRequestMessage"/>
            <output message="tns:ContactResponse"/>
        </operation>
        <operation name="SortContacts">
            <input message="tns:SortContactsRequestMessage"/>
            <output message="tns:SuccessResponse"/>
        </operation>
    </portType>

    <binding name="ContactBinding" type="tns:ContactPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="AddContact">
            <soap:operation soapAction="AddContact"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="EditContact">
            <soap:operation soapAction="EditContact"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="DeleteContact">
            <soap:operation soapAction="DeleteContact"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="SearchContact">
            <soap:operation soapAction="SearchContact"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="SortContacts">
            <soap:operation soapAction="SortContacts"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <service name="ContactService">
        <port name="ContactPort" binding="tns:ContactBinding">
            <soap:address location="http://localhost:3000/agenda"/>
        </port>
    </service>
</definitions>
