Práctica_2/requirements.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/contactlist"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/contactlist">
    
    <types>
        <xs:schema targetNamespace="http://example.com/contactlist">
            <xs:element name="Add">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name"   type="xs:string"/>
                        <xs:element name="phone"  type="xs:string"/>
                        <xs:element name="mobile" type="xs:string"/>
                        <xs:element name="email"  type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AddResult" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <message name="AddRequest">
        <part name="parameters" element="tns:Add"/>
    </message>
    <message name="AddResponse">
        <part name="parameters" element="tns:AddResponse"/>
    </message>

    <portType name="ContactListPortType">
        <operation name="Add">
            <input message="tns:AddRequest"/>
            <output message="tns:AddResponse"/>
        </operation>
    </portType>

    <binding name="ContactListBinding" type="tns:ContactListPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Add">
            <soap:operation soapAction="http://example.com/contactlist/Add"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="ContactListService">
        <port name="ContactListPort" binding="tns:ContactListBinding">
            <soap:address location="http://192.168.1.67:3000/contactlist"/>
        </port>
    </service>

</definitions>
